In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from sklearn.datasets.load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [4]:
# load the iris dataset
from sklearn.datasets import load_iris
iris = load_iris()

In [5]:
# store the feature matrix ( x) and response vector (y)

X = iris.data
y = iris.target

In [6]:
# splitting X and y into training and testing sets

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 1)

In [7]:
# training the model on training set

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [8]:
# making predictons on the testing set
y_pred = gnb.predict(X_test)
y_pred

array([0, 1, 1, 0, 2, 2, 2, 0, 0, 2, 1, 0, 2, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       2, 0, 2, 1, 0, 0, 1, 2, 1, 2, 1, 2, 2, 0, 1, 0, 1, 2, 2, 0, 1, 2,
       1, 2, 0, 0, 0, 1, 0, 0, 2, 2, 2, 2, 2, 1, 2, 1])

In [9]:
# Comparing actual response values (y_test) with predicted response values (y_pred)
# by mannual cross tabulation 

pd.crosstab(y_test, y_pred, margins = True)

col_0   0   1   2  All
row_0
0      19   0   0   19
1       0  19   2   21
2       0   1  19   20
All    19  20  21   60

In [10]:
# by making the confusion matrix through sklearn
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[19,  0,  0],
       [ 0, 19,  2],
       [ 0,  1, 19]], dtype=int64)

In [11]:
# calculating accuracy manually 
(19+19+19)/(19+19+19+2) #0.9661

0.9661016949152542

In [13]:
pd.crosstab(y_test, y_pred, margins = True)

col_0   0   1   2  All
row_0
0      19   0   0   19
1       0  19   2   21
2       0   1  19   20
All    19  20  21   60

In [14]:
# Accuracy from sklearn

from sklearn import metrics
print("Gaussian Navie Bayes model accuracy(in %)", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Navie Bayes model accuracy(in %) 95.0

In [16]:
# Classification report 
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       0.95      0.90      0.93        21
           2       0.90      0.95      0.93        20

    accuracy                           0.95        60
   macro avg       0.95      0.95      0.95        60
weighted avg       0.95      0.95      0.95        60

Happy Learning!