In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
house1 = pd.read_csv("house_master.csv")
house1.head()

,Unnamed: 0,price,resid_area,air_qual,room_num,age,techers,poor_prop,airport,n_hos_beds,n_hot_rooms,rainfall,parks,avg_dist,Sold,waterbody_Lake and River,waterbody_None,waterbody_River
0,0,0.160376,-1.287909,-0.144217,0.515126,-0.120013,1.459000,-1.075562,0.902009,-1.653421,-0.353398,-1.294408,-0.480763,-0.912871,0.138986,0,0,1
1,1,-0.101258,-0.593381,-0.740262,0.256311,0.367166,0.303094,-0.492439,-1.108637,-0.387954,-0.166000,0.225431,-0.782183,1.095445,0.557282,0,0,0
2,2,1.326830,-0.593381,-0.740262,1.540303,-0.265812,0.303094,-1.208727,-1.108637,-0.345589,16.828839,-0.094535,-0.818115,-0.912871,0.557282,0,1,0
3,3,1.185112,-1.306878,-0.835284,1.226027,-0.809889,-0.113032,-1.361517,0.902009,0.934910,-0.339029,0.465405,-0.687571,-0.912871,1.078962,0,0,0
4,4,1.490352,-1.306878,-0.835284,1.476439,-0.511180,-0.113032,-1.026501,-1.108637,0.631526,-0.334750,1.265320,-1.410280,-0.912871,1.077774,0,0,0

In [21]:
house1.columns

Index(['Unnamed: 0', 'price', 'resid_area', 'air_qual', 'room_num', 'age',
       'techers', 'poor_prop', 'airport', 'n_hos_beds', 'n_hot_rooms',
       'rainfall', 'parks', 'avg_dist', 'Sold', 'waterbody_Lake and River',
       'waterbody_None', 'waterbody_River'],
      dtype='object')

In [22]:
#dropping the bus_ter column
house1.drop('Unnamed: 0',axis = 1,inplace = True)

In [23]:
house1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 17 columns):
price                       506 non-null float64
resid_area                  506 non-null float64
air_qual                    506 non-null float64
room_num                    506 non-null float64
age                         506 non-null float64
techers                     506 non-null float64
poor_prop                   506 non-null float64
airport                     506 non-null float64
n_hos_beds                  506 non-null float64
n_hot_rooms                 506 non-null float64
rainfall                    506 non-null float64
parks                       506 non-null float64
avg_dist                    506 non-null float64
Sold                        506 non-null float64
waterbody_Lake and River    506 non-null int64
waterbody_None              506 non-null int64
waterbody_River             506 non-null int64
dtypes: float64(14), int64(3)
memory usage: 67.3 KB

# Splitting into train and test

In [24]:
# Putting feature variable to X
x_final = house1[['price', 'resid_area', 'air_qual', 'room_num', 'age', 'techers',
       'poor_prop', 'airport', 'n_hos_beds', 'n_hot_rooms', 'rainfall',
       'parks', 'avg_dist', 'waterbody_Lake and River', 'waterbody_None',
       'waterbody_River']]

# Putting response variable to y
y = house1['Sold']

In [25]:
# Train Test Splitting 
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x_final, y, test_size = 0.30, random_state=0)
print("x_train ",x_train.shape)
print("x_test ",x_test.shape)
print("y_train ",y_train.shape)
print("y_test ",y_test.shape)

x_train  (354, 16)
x_test  (152, 16)
y_train  (354,)
y_test  (152,)

In [30]:
from sklearn import preprocessing
from sklearn import utils
lab_enc = preprocessing.LabelEncoder()
training_scores_encoded = lab_enc.fit_transform(y_train)
print(training_scores_encoded)
print(utils.multiclass.type_of_target(y_train))
print(utils.multiclass.type_of_target(y_train.astype('int')))
print(utils.multiclass.type_of_target(training_scores_encoded))

[ 13 205  83 305  78 208 284 200  56 234 252 193 317 259 242 258 124  39
 275  80 128  42 194   8 112 146 125 291 145  49 251 114  95 260 307 310
 166 106  67  76 179 206 151 192 261 161 132 249 191 199  88 299  11  38
  29 302 209 116 231 220  69 287 148  62  28 150  41 246  24 160 224  17
 316 122 222  97 274 136 129 169 186 314 138  79  75  98  58 108  54 311
 147  62 283 320 131  37 298 196  21   7  74 202 119 198 178 267 292 303
 230 300 153 254 174  53 223  28 308 144 180 232 126 270  36 244  23  33
 190 115 319 312 318 207  45 238 187 248 190  71 284 228 164 170  65 133
  73  61  16 258 214 104 236 211 184 240 301  32 121 176  63 256  90  60
 143  19  27 235 268 127   1  33 220  84  81 213 120  12 305 288  57 201
 250 271 205 167  96 273 321  68 239 315 216 158  10 219 225 262  70 134
 117 257 165  52 276   3 229  87 177 185 304 267 230 289 204  31  22  51
  59 171 296  18  85 197 217 266  92 215 278   4  94 183 313 212 110 156
   6 279 189 163 181 155 100 285 175 269 295   0  30 226 218 168  20   9
 281 140  86 101 121 111 103 241 247 243  93  46  50 152 130  13 162 258
 113 142 137 247 309  55 237  43   5 109 267  81  25 159 227 107 203  35
 290  48  64  44 247 233 149   2  89  25 306 277 221 210  40 172 105  91
 300  72  15 139  14 297  47 173 182 244  99  77 272 299 294 157 118  26
  66 255 280 233 102 263  38 135  82 257 275 188  34 180 154 253 195 247
 293 245 191 286 123 264 302 241 282 141 265 131]
continuous
multiclass
multiclass

In [31]:
from sklearn.linear_model import LogisticRegression
glm=LogisticRegression()
model=glm.fit(x_train,y_train)
predicted = model.predict(x_test)

ValueError: Unknown label type: 'continuous'