In [1]:
import pandas as pd

In [2]:
import numpy as np

# Creating a Series

In [3]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [5]:
#using list
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [6]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series

pandas.core.series.Series

In [8]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(labels,my_list)

10    a
20    b
30    c
dtype: object

In [11]:
#Numpy Array
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [12]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [13]:
#Create a series from ndarray
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [14]:
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [15]:
a = pd.Series(np.array([1,2,3,4,4]),index=[4,3,2,1,0])
a

4    1
3    2
2    3
1    4
0    4
dtype: int32

In [16]:
pd.Series(np.array([10,30,50,70]),np.array(['p','q','r','s']))

p    10
q    30
r    50
s    70
dtype: int32

In [17]:
#dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [18]:
pd.Series(data=d,index=['x','y','z'])

x   NaN
y   NaN
z   NaN
dtype: float64

In [19]:
pd.Series(data=d,index=['c','a','b'])

c    30
a    10
b    20
dtype: int64

In [24]:
pd.Series(data=d,index=['c','a','c','d','a','a','b','b','a','r'])

c    30.0
a    10.0
c    30.0
d     NaN
a    10.0
a    10.0
b    20.0
b    20.0
a    10.0
r     NaN
dtype: float64

In [25]:
data = {'a':0.,'b':1.,'c':2.}
s = pd.Series(data,index=['b','c','d','a'])
s

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [26]:
ser1 = pd.Series([100,200,300,400],index = ['USA', 'Germany','USSR', 'Japan'])    
ser1

USA        100
Germany    200
USSR       300
Japan      400
dtype: int64

In [27]:
ser1['USA':]

USA        100
Germany    200
USSR       300
Japan      400
dtype: int64

In [28]:
ser1['USA']

100

In [29]:
ser1[:]

USA        100
Germany    200
USSR       300
Japan      400
dtype: int64

In [31]:
ser1[:'USSR']

USA        100
Germany    200
USSR       300
dtype: int64

In [32]:
ser1['Germany':]

Germany    200
USSR       300
Japan      400
dtype: int64

In [33]:
ser1[0:]

USA        100
Germany    200
USSR       300
Japan      400
dtype: int64

In [34]:
ser1[2:]

USSR     300
Japan    400
dtype: int64

In [35]:
data = np.array(['a','b','c','d']) 
s = pd.Series(data, index = [100,101,102,103])  
s

100    a
101    b
102    c
103    d
dtype: object

In [36]:
s[100]
#s[0]  Doesn't work

'a'

In [40]:
s[100:] #bydefault its python index---- start from index position 100
s[:]

100    a
101    b
102    c
103    d
dtype: object

In [41]:
s[:100]

100    a
101    b
102    c
103    d
dtype: object

In [42]:
#retrieve multiple elements
ser1[['USA','Germany']]

# if a labels is not contained , an excrption is raised

USA        100
Germany    200
dtype: int64

In [43]:
ser2 = pd.Series([100,200,500,400],index = ['USA', 'Germany','Italy', 'Japan']) 
ser2

USA        100
Germany    200
Italy      500
Japan      400
dtype: int64

In [44]:
#Addition of Series
ser1+ser2  # if index match then add else NaN

Germany    400.0
Italy        NaN
Japan      800.0
USA        200.0
USSR         NaN
dtype: float64

In [45]:
# Subtraction
ser1-ser2

Germany    0.0
Italy      NaN
Japan      0.0
USA        0.0
USSR       NaN
dtype: float64

In [46]:
#multiply
ser1*ser2

Germany     40000.0
Italy           NaN
Japan      160000.0
USA         10000.0
USSR            NaN
dtype: float64

# DataFrame