# Variable

In [1]:
#creartion of variables
x = 85
y = "Utkarsh"
print(x)
print(y)

85
Utkarsh

In [5]:
#define structure in casting 
x = str(65)
y = int(55)
z = float(38)

print(x)
print(y)
print(z)

65
55
38.0

In [6]:
# check type of variable
x = 85
y = 'utkarsh'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [8]:
#modulus
a = 9
b = 4
mod = a%b
mod

1

In [9]:
# Quotients
quo = a//b
quo

2

In [11]:
#+- operater
x =3 
x +=3 
x     # same as x = x + 3, 3 + 3 = 6

6

In [13]:
# if in python
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [18]:
#if with
marks = 93
name = 'Joy'
if marks > 90:
    print(name, "is Excelent")

Joy is Excelent

In [19]:
#if else
marks = 83
name = " utkarsh"
if marks > 90:
    print(name, "is Excelent")
else:
    print("no worries this time. try hard",name)

no worries this time. try hard  utkarsh

In [26]:
#if, elif, else
marks = 98
name = " utkarsh"
if marks >= 90:
    print(name, "you are ROCKING!.")
elif 70<= marks  < 90:
    print("well Done!",name)
elif 50 <= marks < 70:
    print("re do the exam", name)
else:
    print("call your parents",name)

 utkarsh you are ROCKING!.

In [27]:
#nested if 

age = 32
if(age >= 11):
    print("you r elig to see the football match.")
    if(age <=20 or age >= 60):
        print("ticket price is $12")
    else:
        print("tic kit price is $20")
else:
    print("you r not elig to buy a ticket.")

you r elig to see the football match.
tic kit price is $20

In [44]:
#1
bill = 6000
if(bill <= 5000):
    print("Great!")
elif(bill >=5000 or bill <= 7000):
    print("Still manageable!")
elif (bill >= 7000):
    print("high")
else:
    print("done")

Still manageable!

In [51]:
#2

name =str(input("Enter the name: "))

if len(name) <=5:
    print("Yeah! that's it!")
else:
    print("Nope!. let expore more!")

Enter the name: utkarsh
Nope!. let expore more!

In [53]:
# for loop

x = [0,0,0,0,1,1,1,1,1] # a list
for i in x:
    print(i)

0
0
0
0
1
1
1
1
1

In [54]:
# for loop

x = [0,0,0,0,1,1,1,1,1] # a list
for i in x:
    print(i)
else:
    print("No items")

0
0
0
0
1
1
1
1
1
No items

In [57]:
#simple for loop


x = [0,0,0,0,1,1,1,1,1] # a list
for i in x:
    if i == 0:
        print("NO")
    else:
        print("YES")
else:
    print("NO items")

NO
NO
NO
NO
YES
YES
YES
YES
YES
NO items

In [59]:
# simple for loop

n = [6,5,3,8,4,2,5,4,11]

sum = 0

for i in n:
    sum = sum + i
    print("The sum is", sum)

The sum is 6
The sum is 11
The sum is 14
The sum is 22
The sum is 26
The sum is 28
The sum is 33
The sum is 37
The sum is 48

In [62]:
a = 2,2,2,2
type(a)

tuple